.AuthMenu {
    max-width: 650px;
    width: 100%;

}


.authMenuContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    min-height: 100%;

}

.autoMenu-paper {
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 40%;
    height: auto;
}

.autoMenu-paper .MyLogo img {
    width: 30%;

}

.autoMenu-pop .buttonsRow {
    margin-top: 8vh;
    width: 80%;

}

.autoMenu-pop .buttonsRow button {
    color: var(--color-primary);
    font-family: "Oswald";
    font-size: 2.5vmin;
    width: 50%;
    letter-spacing: 0.1rem;
    border-bottom: 0.25vmin solid;
    border-radius: 0;
    border-color: var(--color-footer);
}

.autoMenu-pop .buttonsRow button a {
    color: var(--color-primary);
    text-decoration: none;
    width: 100%;
}

.autoMenu-pop .joinButton::after {
    content: "";
    background-color: var(--color-footer);
    height: 2vh;
    width: 0.15vw;
    position: absolute;
    right: 0;
    opacity: 0.5;
}

.autoMenu-pop .buttonsRow .active {
    border-color: var(--color-primary);

}

.autoMenu-pop .buttonsRow button:hover {
    color: var(--color-secondary);
    background-color: transparent;
}

.autoMenu-pop .buttonsRow .active:hover {
    color: var(--color-primary)
}