.AddCompany {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.AddCompany .addCompanyForm {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    width: 30%;
    margin-left: 10%;
}



.AddCompany .addCompanyForm .MyInput {
    width: 100%;
}

.AddCompany .addCompanyForm button {
    width: 100%;
}