.CustomerRegister {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CustomerRegister .registerForm {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    width: 80%;
}

.CustomerRegister .registerForm .MyInput {
    width: 60%;
}