.UpdateCustomer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.UpdateCustomer .updateCustomerForm {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    width: 30%;
    margin-left: 10%;
}

.UpdateCustomer .updateCustomerForm .MyInput {
    width: 100%;
}

.UpdateCustomer .updateCustomerForm button {
    width: 100%;
}